---
---


<!-- 	<ul id="tag-post-list" >
    {% for post in paginator.posts %}
        <li class="cards">
		
		<div class="tagauthor">
                        <div id="tag-meta">
                                {% assign author = site.data.people[post.author] %}
                                        <a href="/about/{{ post.author }}">
                                                <img class="avatar" src="{{ author.gravatar}}">

                                        </a>
                        </div>
                </div>


                <div class="tagposts">
                        <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" class="container">{{ post.title }} 
                                <h2>{{ post.description }}</h2>
                        </a>
                </div>



        </li>
    {% endfor %}
</ul> -->


<div class="row">
	{% for post in paginator.posts %}
	<div class="card">
		{% assign author = site.data.people[post.author] %}
		<a  href="/about/{{ post.author }}"><img class="card-img-top" src="{{ author.gravatar}}"></a>
		<div class="card-body">
			<a class="card-title" href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}<small>{{ post.description }}</small></a>
		</div>
	</div>
	{% endfor %}		
</div>

