---
---


<!-- 	<ul id="tag-post-list" >
    {% for post in paginator.posts %}
        <li class="cards">
		
		<div class="tagauthor">
                        <div id="tag-meta">
                                {% assign author = site.data.people[post.author] %}
                                        <a href="/about/{{ post.author }}">
                                                <img class="avatar" src="{{ author.gravatar}}">

                                        </a>
                        </div>
                </div>


                <div class="tagposts">
                        <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" class="container">{{ post.title }} 
                                <h2>{{ post.description }}</h2>
                        </a>
                </div>



        </li>
    {% endfor %}
</ul> -->
<div class="row>
	    <div calss="col-md-3 col-sm-6 col-xs-12">
		{% for post in paginator.posts %}
		{% assign author = site.data.people[post.author] %}
			<div class="card">
				<a href="/about/{{ post.author }}"><img class="card-img-top" src="{{ author.gravatar}}"></a>
			</div>
			<div class="card-body">
				<div calss="card-title">
						       <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }} 
                                <h2>{{ post.description }}</h2>
				</div>
			</div>
			{% endfor %}
		</div>
 </div>

