<ul id="tag-post-list">
    {% for post in site.posts %}
       
	  {% if post.categories contains 'blog' %}
	 <li class="cards">
		
		<div class="tagauthor">
	                <div id="tag-meta">
        	                {% assign author = site.data.people[post.author] %}
                	                <a href="/about/{{ post.author }}">
                        	                <img class="avatar" src="{{ author.gravatar}}">

                                	</a>
                	</div>
        	</div>

	
		<div class="tagposts">
		        <a href="{{ post.url }}" class="container">{{ post.title }} 
                		<h2>{{ post.description }}</h2>
        		</a>
        	</div>

        </li>
	
	  {% endif %}	
    {% endfor %}
</ul>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}
