<!-- <nav class="main-nav">
<a href="{{ site.url }}/"> Home </a>
 <a href="{{ site.url }}/blog">Blog </a>
 <a href="{{ site.url }}/cal">Events</a>
<a href="{{ site.url }}/contact">Event Request </a>
<a href="{{ site.url }}/chat">Chat</a>
	</nav> -->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:red; color:white">
  <a class="navbar-brand" href="#">MozillaTn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-md-end" id="#navbarTogglerDemo01">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.url }}/"> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="{{ site.url }}/blog">Blog </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="{{ site.url }}/cal">Events</a>
      </li>
	<li class="nav-item">
        <a class="nav-link"  href="{{ site.url }}/contact">Event Request </a>
      </li>
	<li class="nav-item">
        <a class="nav-link"  href="{{ site.url }}/chat">Chat</a>
      </li> 
    </ul>
  </div>
</nav>
<!-- <style>
	.nav-link{
		color:wheat;
	}
</style>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:red">
  <a class="navbar-brand" href="#">MozillaTn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color:red" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-md-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
               <a href="{{ site.url }}/" class="nav-link nav-link-wheat" style="color:wheat"> Home </a>
      </li>
      <li class="nav-item active">
                <a href="{{ site.url }}/blog" class="nav-link nav-link-wheat" >Blog </a>
      </li>
	<li class="nav-item active">
         <a href="{{ site.url }}/cal" class="nav-link nav-link-wheat">Events</a>     
      </li>
      <li class="nav-item active">
            <a href="{{ site.url }}/contact" class="nav-link nav-link-wheat ">Event Request </a>
      </li>
	<li class="nav-item active">
            <a href="{{ site.url }}/chat" class="nav-link nav-link-wheat">Chat</a>
      </li>
    </ul>
    
  </div>
</nav>
<script>
$('.navbar-toggler').load(function(event){
event.preventDefault();
})
</script> -->
