<div class="profile container mt-5">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">
                <img id="avatar" class="img-thumbnail rounded-circle" src="http://www.gravatar.com/avatar/8d6ea5553261cc856bdc2bedf852eb66"/>
            </a>
        {% else %}
            <img id="avatar" class="img-thumbnail rounded-circle" src="http://www.gravatar.com/avatar/8d6ea5553261cc856bdc2bedf852eb66"/>
        {% endif %}
            <h1 class="text-blue">{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
        </header>
    </section>
</div>
