{% assign author_social = site.data.people[page.author] %}
{% if page.tiny_url %}
	{% assign url_to_post = page.tiny_url %}
{% else %}
    {% assign url_to_post = site.domain_name | append: page.url %}
  {% endif %}

<a class="twitter" href="https://twitter.com/intent/tweet?text={{ url_to_post }} - {{page.title}} by @{{ author_social.twitter }} &hashtags={% for post_tag in post.tags %}{{ post_tag }},{% endfor %}"><span class="icon-twitter"> Tweet</span></a>

<a class="facebook" href="#" onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;"><span class="icon-facebook-rect"> Share</span>
</a>


