---
layout: default
archive: true
---

<h1>Articles by tag {{ page.tag }}</h1>
<h2></h2> 

<br />
<div id='tag-post-list'>
    {% if site.tags[page.tag] %}
        {% for post in site.tags[page.tag] %}
            <li class="cards">
            	



<div class="tagauthor">
		<div id="tag-meta">
        		{% assign author = site.data.people[post.author] %}
        			<a href="/about/{{ post.author }}">
        				<img class="avatar" src="{{ author.gravatar}}">

        			</a>
		</div>
	</div>


	<div class="tagposts">
	<a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" class="container">{{ post.title }} 
		<h2>{{ post.description }}</h2>
	</a> 
	</div> 

</li>

        {% endfor %}
    {% else %}
        <p>There are no posts for this tag.</p>
    {% endif %}
</div>

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
    </header>
    <section id="post-body">
        {{content}}
    

	{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}Posted with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i><br />{% else %}<i class="fa fa-tags"></i><br />{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}
</section>	
</article>

<!--
<footer id="post-meta" class="clearfix">
    <a href="http://twitter.com/{{ site.authorTwitter }}">
        <img class="avatar" src="http://www.gravatar.com/avatar/41c39033134359ca0171685f5171d298">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>
<p>{{ tags_content }}</p>
    <section id="sharing">
        {% include share.html %}
    </section>
</footer>
-->
